/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@media all and (max-width: 360px){ 

		body{
			max-width: 380px;
		}
		.roomate_list_wrapper{
		padding: 3px 30px 21px 30px;	
		max-width: 100%;
		margin: 0 auto;
		background-color:#fff;
		float: right;
		ul, ol {
			padding-left: 18px;
			li {
				list-style: none;
				border-bottom: 1px solid #EAEAEA;
			}
		}
	.map_display{
		height:1000px ;
		width:100px;
		}
	}
	#title{
		 text-align: center;
	}

}
@media all and (max-width: 1000px){ 
img{
	max-width: 157px;
}
#map{
	height:100px ;
	width:100px;
	display:block;
	float: right;
	}

}
//------------- @midea 360px ends

.background_picture_home{
	background-image: url("/assets/manhattan-407703.jpg");
	background-size: cover	;
	background-repeat: no-repeat;
	height: 700px;
}
	.open > .dropdown-menu {
		padding: 9px;
		overflow: scroll;
		height: 300px;
}
#bkg{
  background-color: white !important; 
}
.bright_background{
	height: 89%;
	width: 93%;
	background-color: rgba(252, 253, 253, 0.8);
	margin: 0 auto;
	margin-top: -2%;
}
.navbar-default .navbar-brand {
	color: #3353B7;
	font-family: arial;
	font-weight: bolder;
	font-size: 30px;
	text-shadow: 0px 0px 1px rgb(0, 0, 0);
	text-decoration: none;

}
.navbar-default .navbar-brand a {
  color: #337AB7;
}
.navbar-default .navbar-brand a:hover {
 	color: #3353B7;
	font-family: arial;
	font-weight: bolder;
	text-decoration: none;
	transition: color 1s
}
body {
	background: rgb(235, 238, 243); 
	padding: 50px;
	font-size: 19px;
}
.image_wrapper {
	background-color: rgba(232, 230, 230, 0.5);

	// background-image: linear-gradient(to bottom,#331E89 0,#B1A4E4 100%);
a img{
	width: 300px;
	height: 250px;
}
}
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 5px;
	background-color: #C4E79A;
	font-weight: bold;
}
.navbar-brand{
	font-family: serif;
}
.apartment {
	max-height: 400px;
	background: white;
	border-radius: 5px;
	margin-bottom: 40px;
}
.apartment_image{
  max-width: 311px;
  float: left;
}
.user_contact{
  	background-color: rgba(253, 253, 253, 0.94);	max-width: 100%;
	text-align: center;
  	padding-bottom: 5px;
  	color: rgb(89, 91, 90);
}   
#user_contact{
	font-size: 24px;
	color: rgb(51, 122, 183);
} 
.nav_form{
	float: right;
}
.btn-default {
	float: right;
}
.nav_form li{
	list-style: none;
	display: inline-block;
	float: right;
}
.wrapper-show{
	width: 100%;
	padding: 10px 10px;
 	margin: 0 auto;
 	// background-image: url("/assets/New-York-Manhattan.5.jpg");
 	background-repeat: no-repeat;
 	background-size: cover;
}
#wrap_show{
	border: 1px solid;
	border: 1px solid gray;
  	box-shadow: 1px 1px 10px gray;
}
.image_wrapper {
	max-height: 400px;
	text-align:center;
	max-width: 100%;
	margin-top: 15px;
	padding-top: 15px;
}
.navbar navbar-default ul{
	padding: 5px;
}
.form-group {
	width: 50%;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 36px;
  line-height: 20px;
}
.new_apartment {
	padding: 20px 40px;
}

.container{
	width:100%;
	margin:	0 auto;
}
.bellow_image_contact{
	 padding: 0 12px;
}

.center_form{
	 width: 100%;
	 margin: 0 auto;	

}

.roomate_list_wrapper{
	text-align: center;
	padding: 3px 30px 21px 30px;
	margin: 0 auto;
	background-color: rgba(249, 248, 248, 0.95);
	color: rgba(6, 8, 7, 0.65);
	box-shadow: 7px 9px 14px -2px #5c4c45;
	ul, ol {
		padding-left: 18px;
		li {
			list-style: none;
			border-bottom: 1px solid #EAEAEA;
		}
	}
}
#no_room_message{
	color:#337ab7
}
#name_field{
 	max-width: 80%;
 	float: left;
}
#back{
	float: left;

}
#add_btn{
	float: left;
}
#name_field{
	float: left;
}
.float_left{
	float: left;
}
#fields{
	  float: left;
  height: 34px;
}
.button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  float: left;
  height: 34px;
}
.links{
	margin: 0 auto;
	max-width:100%;
}
.map_display{
 float: left;
  width: 55%;
  border: 1px solid;
  border: 1px solid gray;
  box-shadow: 13px 1px 14px gray;
  padding-left: 0%;
}
.list_neighborhood{
	clear:both;
}
.list_neighborhood{
	padding-left:5px;
}
.open>.dropdown-menu {
	padding: 9px;
}
#wrap_row{
	padding: 0 15%;
	width: 100%;
	margin: 0 auto;
}
#search {
	height: 35px;
}
#bgk_show{
	background-repeat: no-repeat;
	max-width: 100%;
	margin: 0 auto;	
}
//--------Find views
.wrapper_show_find{
	width: 61%;
 	margin: 0 auto;
 	background-repeat: no-repeat;
 	background-size: cover;
}
.navbar-nav > li > .dropdown-menu {
	height: 400px;
	overflow: scroll;
	width: 179px;
}
#price_manu{
	height: 137px;
  	overflow: scroll;
}
#wrapper_list{
	width: 200px;
}
.links_show{
	width: 177px;
	margin: 0 auto;
}
#log_menu{
	height: 75px;
	overflow: scroll;
}
.buttons{
	clear: both;
}
div#wrap_show {
  margin-left: 17%;
}