/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


body {
	background: rgb(235, 238, 243);
}
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 5px;
	background-color: #000;
	font-weight: bold;
}
.apartment {
	max-height: 400px;
	background: white;
	border-radius: 5px;
	margin-bottom: 40px;
}
.apartment_image{
	max-height: 450px;
}
.image_wrapper {
	max-height: 400px;
	text-align:center;
	max-width: 100%;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	padding: 5px;
}

.form-group {
	width: 300px;
}

.new_apartment {
	padding: 20px 40px;
}

.container{
	width:100%;
}
.bellow_image_contact{
 padding: 0 12px;
}











