<div>
	<div class="center_form">
		<h1> Edit Apartment </h1>
	</div>
		<%= render 'form'  %>
<% if current_user and current_user == @user%>
	<div  class= "roomate_list_wrapper" class="form-group">
		<ul>
		
		<% @apartment.rooms.each do |room| %>  
			<li>
				<%= link_to("X", room_path(room) , method: :delete, class: "btn btn-danger") %><%= (room.name)%> 
			</li> 
		<% end %>
			</br>
<% end %>
		</ul>
	</div>
</div>
