	
<div class="wrapper_show_find">
			
			<% if @apartments.any? %>
			<div class="wrapper-show">
				<div class="apartment_image">
				<%= render @apartments %>
				</div>
				</div>
			<% else %>
				<h2 id= "no_room_message">No Rooms </br> in this neighborhood :(</h2>
			<% end %>
			<% if current_user %>	
				<div class="map_display">
					<div style='width: 400px;'>
						<div id="map" style='width: 400px; height: 300px;'>	
						</div>
					</div>
				</div>
			<% end %>
		</div>
<script type= "text/javascript"> 
	var rawCoords = <%= raw @category.coordinates.to_json %>
</script>
